# Globus Auth
GLOBUS_CLIENT_ID=
GLOBUS_CLIENT_SECRET=

# Globus Endpoints / Collections
GLOBUS_SOURCE_ENDPOINT=
GLOBUS_DEST_ENDPOINT=
GLOBUS_SOURCE_PATH=
GLOBUS_DEST_PATH=

# Globus Compute (formerly funcX)
GLOBUS_COMPUTE_ENDPOINT=

# Globus Flows
GLOBUS_FLOW_ID=
